[Unit]
Description=Monitor sensors for screen rotation events and rotate display and digitizer accordingly
Documentation=man:ks-rotate-display(1)

[Service]
ExecStart=/usr/local/bin/ks rotate-display watch
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

